/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.search-results-container {
	margin-top: var(--size-4-3);
}

.search-result-card {
	width: 100%;
	border: 1px solid var(--background-modifier-border);
	margin-bottom: var(--size-4-2);
	color: var(--text-normal);
	font-size: var(--font-ui-smaller);
	font-family: var(--font-interface);
	border-radius: var(--radius-s);
}

.search-result-card-header {
	width: 100%;
	background-color: var(--search-result-background);
	color: var(--text-muted);
	padding: var(--size-2-3);
}

.search-result-card-content {
	padding: var(--size-2-3);
	background-color: var(--background-secondary);
}
@media (hover: hover) {
	.search-result-card:hover {
		color: var(--text-normal);
		background-color: var(--text-selection);
	}
}

.chat-box {
	background-color: var(--search-result-background);
	padding: var(--size-4-3);
	color: var(--text-muted);
	border: 1px solid var(--background-modifier-border);
}

.role-user {
	color: var(--color-green)
}

.role-assistant {
	color: var(--color-blue)
}

.chat-indexing-banner {
	font-style: italic;
	color: var(--text-accent);
}

.chat-input-layout {
	display: flex
}

.chat-input-input {
	flex-grow: 1
}

.button-disabled {
	cursor: not-allowed;
	background-color: var(--background-secondary);
	color: var(--text-faint);
}

.note-chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.note-chat-header {
	top: 0;
	left: 0;
	right: 0;
}

.note-chat-footer {
	margin-bottom: 30px;
	left: 0;
	right: 0;
}

.note-chat-body {
	flex: 1;
	overflow-y: auto;
	padding: 20px;
}

.chat-box-message-container {
	position: relative;
}

.copy-button {
	display: none;
	position: absolute;
	top:0;
	right:0;
	padding: 4px
}

.chat-box-message:hover + .copy-button, .copy-button:hover {
	display: inline-block;
}
